@page "/estudiantes"

@inject EstudiantesService estudiantesService
@inject NavigationManager navigationManager

<PageTitle>Registro de Estudiantes</PageTitle>

<div class="container">
	<div class="card shadow-lg">
		<div class="card-header space-between">
			<h5 class="card-title">Registro Estudiantes</h5>
			<a href="/estudiantes/create" class="btn btn-primary"> <span class="bi bi mt-3"></span> Crear</a>
		</div>
	</div>

	<div class="card-body">
		<div class="row">
			
		</div>

		<div class="row align-items-center">

		</div>

		<table class ="table table-hover">

		</table>

	</div>

	<div class="card-footer space-between">
		<label>Total de Estudiantes: @ListaEstudiantes.Count()</label>
	</div>
</div>

@code {

	public List<Estudiantes> ListaEstudiantes { get; set; } = new List<Estudiantes>(); 

	public string Filtro { get; set; } = string.Empty;
	public string ValorFiltro { get; set; } = string.Empty;


	protected override async Task OnInitializedAsync()
	{
		ListaEstudiantes = await estudiantesService.Listar(estudiante => estudiante.EstudianteId > 0);

	}

	private async Task Buscar()
	{
		if (ValorFiltro.Trim() != "")
		{
			if(Filtro == "EstudianteID")
			{
				ListaEstudiantes = await estudiantesService.Listar(e=>e.Nombres.ToLower().Contains(ValorFiltro.ToLower()));

			}else if (Filtro == "Email")
			{
				ListaEstudiantes = await estudiantesService.Listar(e => e.Email.ToLower().Contains(ValorFiltro.ToLower()));
			}
		}
		else
		{
			ListaEstudiantes = await estudiantesService.Listar(e => e.EstudianteId > 0);

		}
	}

}
