@page "/asignaturas/edit/{EstudianteId:int}"
@inject AsignaturasService asignaturaService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Editar asignatura</PageTitle>

<EditForm Model="asignatura" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">

            <div class="card-header text-center">
                <h5 class="card-title">Editar Asignatura</h5>
            </div>

            <div class="card-body">

                <div class="mb-3">
                    <label class="form-label">
                        <strong>AsignaturaId</strong>
                    </label>
                    <InputNumber class="form-control"
                                 @bind-Value="asignatura.AsignaturaId"
                                 readonly />
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <strong>Nombre</strong>
                    </label>
                    <InputText class="form-control"
                               @bind-Value="asignatura.Nombre" />
                    <ValidationMessage For="() => asignatura.Nombre" />
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <strong>Codigo</strong>
                    </label>
                    <InputNumber class="form-control"
                               @bind-Value="asignatura.Codigo" />
                    <ValidationMessage For="() => asignatura.Codigo" />
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <strong>Aula</strong>
                    </label>
                    <InputText class="form-control"
                                 @bind-Value="asignatura.Aula" />
                    <ValidationMessage For="() => asignatura.Aula" />
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <strong>Creditos</strong>
                    </label>
                    <InputNumber class="form-control"
                               @bind-Value="asignatura.Creditos" />
                    <ValidationMessage For="() => asignatura.Creditos" />
                </div>

                @if (!string.IsNullOrEmpty(Mensaje))
                {
                    <div class="alert alert-danger">
                        @Mensaje
                    </div>
                }

            </div>

            <div class="card-footer text-center mt-2">
                <a href="/asignatura" class="btn btn-secondary">
                    <span class="bi bi-arrow-left"></span> Volver
                </a>

                <button type="submit" class="btn btn-primary bi bi-floppy">
                    Guardar
                </button>
            </div>

        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int AsignaturaId { get; set; }

    public Asignaturas asignatura { get; set; } = new Asignaturas();

    public string Mensaje { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        asignatura = await asignaturaService.Buscar(AsignaturaId);

        if (asignatura == null)
        {
            navigation.NavigateTo("/asignatura");
        }
    }

    private async Task Guardar()
    {
        var editado = await asignaturaService.Modificar(asignatura);

        if (!editado)
        {
            Mensaje = "No se pudo modificar el estudiante.";
            return;
        }

        navigation.NavigateTo("/estudiantes");
    }

    private void Cancelar()
    {
        navigation.NavigateTo("/estudiantes");
    }
}
